<!-- Users.razor -->
@page "/users"
@using BlazorAppJSONPlaceholder.Models;


<h1>Kullanıcı Listesi</h1>

@if (users != null)
{
    @foreach (var user in users)
    {
        @* Yanda Album butonu olacak *@
        <div class="user-card">
            <h2>@user.Name</h2>
            <h2>@user.Email</h2>
            <button @onclick="() => ShowUserAlbums(user.Id)">Album</button>
        </div>

    }
}
else
{
    <p>Veriler yükleniyor...</p>

    <div class="frame">
        <button class="custom-btn btn-1" @onclick="OpenDialog">Read More</button>
        <button class="custom-btn btn-2">Read More</button>
        <button class="custom-btn btn-3"><span>Read More</span></button>
        <button class="custom-btn btn-4"><span>Read More</span></button>
        <button class="custom-btn btn-5"><span>Read More</span></button>
        <button class="custom-btn btn-6"><span>Read More</span></button>
        <button class="custom-btn btn-7"><span>Read More</span></button>
        <button class="custom-btn btn-8"><span>Read More</span></button>
        <button class="custom-btn btn-9">Read More</button>
        <button class="custom-btn btn-10">Read More</button>
        <button class="custom-btn btn-11">Read More<div class="dot"></div></button>
        <button class="custom-btn btn-12"><span>Click!</span><span>Read More</span></button>
        <button class="custom-btn btn-13">Read More</button>
        <button class="custom-btn btn-14">Read More</button>
        <button class="custom-btn btn-15">Read More</button>
        <button class="custom-btn btn-16">Read More</button>
 
    </div>

   

}

@code {
    List<User> users = new List<User>();

    protected override async Task OnInitializedAsync()
    {
        users = await userService.GetUsersAsync();
    }

    private void ShowUserAlbums(int userId)
    {
        // Kullanıcının albüm listesi sayfasına git
        NavigationManager.NavigateTo($"/albums/{userId}");
    }

 
}

@if (isDialogVisible)
{
    <!-- Dialog.razor -->
@*     <div class="dialog-background">
        <div class="dialog-content">
            <h3>Ben Bir Dialogum</h3>
            <p>Dialog içeriği burada.</p>
            <button @onclick="CloseDialog">Kapat</button>
         
        </div>
    </div> *@

    <div class="custom-dialog-background">
        <div class="custom-dialog-content">
            <h3>Dialog Başlığı</h3>
            <p>Dialog içeriği burada.</p>
            <div class="button-container">
                <button class="custom-button yes-button" @onclick="OnYesClick">Evet</button>
                <button class="custom-button no-button" @onclick="OnNoClick">Hayır</button>
            </div>
        </div>
    </div>
}

@code {
    private bool isDialogVisible = false;

    private void OpenDialog()
    {
        isDialogVisible = true;
    }

    private void CloseDialog()
    {
        isDialogVisible = false;
    }
    private void OnYesClick()
    {
        Console.WriteLine("Evet düğmesine tıklandı.");
        CloseDialog();
    }

    private void OnNoClick()
    {
        Console.WriteLine("Hayır düğmesine tıklandı.");
        CloseDialog();
    }

}
